* {
  box-sizing: border-box
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #0000FF;
  transition: ease 0.15s;
}

/* selected link */
a:active {
  color: black;
}

.bodyWrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  padding: 0.3%;
}


.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 30px;
  justify-items: stretch;
  align-items: stretch;
}

.footerWrapper {
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  padding: 0.3%;
}

/*************** SIDEBAR SIDEBAR SIDEBAR ***************/

#title:hover {
  color: #0000FF;
  cursor: pointer;
  transition: ease 0.15s;
}

/*************** SIDEBAR SIDEBAR SIDEBAR ***************/

/*************** SIDEBAR SIDEBAR SIDEBAR ***************/

#sidebar {
  display: none;
  top: 0;
  left: 0;
  padding-top: 0;
  padding-left: 0;
  border-right: 1px solid black;
  position: fixed;
  width: 30%;
  height: 100vh;
  z-index: 1000;
  /* font-size: 12px; */
}

.sidebarHeaderWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  color: transparent;
}

.sidebarBody {
  height: 100vh;
  background-color: white;
}

#sidebar-close {
  background-color: white;
  padding: 3% 3% 10% 3%;
  cursor: pointer;
}

.sidebar-info {
  padding-left: 3%;
  padding-right: 3%;
}

/*************** SIDEBAR SIDEBAR SIDEBAR ***************/

/*************** SLIDER SLIDER SLIDER ***************/


.mySlides1,
.mySlides2 {
  display: none
}

img {
  vertical-align: middle;
}

.slideshowWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.slideshowInsideWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* SLIDESHOW CONTAINER */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* NEXT&PREVIOUS BUTTONS */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 95%;
  width: auto;
  padding: 80px;
  margin-top: 0;
  color: transparent;
  user-select: none;
}

/* POSITION THE 'NEXT' BUTTON TO THE RIGHT */
.next {
  right: 0;
}

.captionWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
}

.captionDx {
  text-align: right;
  padding-right: 2%;
}

/*************** SLIDER SLIDER SLIDER ***************/

/*************** MEDIA QUERY ***************/
/*************** MEDIA QUERY ***************/


@media only screen and (max-width: 600px) {

    html, body {
      font-size: 15px !important;
    }

    /* NEXT&PREVIOUS BUTTONS */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 0;
      height: 95%;
      width: auto;
      padding: 20px;
      margin-top: 0;
      color: transparent;
      user-select: none;
    }

    .captionWrapper {
      font-size: 11px;
    }

  }
